In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys;
sys.path.append(r'C:\Monitor\\')
sys.path.append(r'\\ac-geneva-24\E\grains trading\Streamlit\Monitor\\')

from datetime import datetime as dt

import numpy as np
import pandas as pd; pd.options.mode.chained_assignment = None

import APIs.Bloomberg as ba
import Weather.W_USA as wu

import Utilities.Weather as uw
import Utilities.GLOBAL as GV
import plotly.express as px

In [3]:
blp = ba.BLPInterface('//blp/exrsvc')

In [14]:
run = dt(2022,7,5,0,0,0)
run_str = run.strftime("%Y-%m-%dT%H:%M:%S")

print(run_str)

location = 'US_IA'
forecast = 'ECMWF'

# overrides = {'location': location, 'fields':'TEMPERATURE|PRECIPITATION', 'model':forecast,'publication_date':'2022-07-04T00:00:00','location_time':True}
overrides = {'location': location, 'fields':'TEMPERATURE|PRECIPITATION', 'model':forecast,'publication_date':run_str,'location_time':True}

df_GFS = blp.bsrch('comdty:weather', overrides)
df_GFS['Location Time'] =  pd.to_datetime(df_GFS['Location Time'])
df_GFS['date']=df_GFS['Location Time'].dt.date
df_GFS['Precipitation (mm)'].iloc[0]=0
df_GFS

2022-07-05T00:00:00

,Reported Time,Location Time,Temperature (°C),Precipitation (mm),date
0,2022-07-05 00:00:00+00:00,2022-07-04 19:00:00-05:00,32.60,0,2022-07-04
1,2022-07-05 03:00:00+00:00,2022-07-04 22:00:00-05:00,27.56,1.46,2022-07-04
2,2022-07-05 06:00:00+00:00,2022-07-05 01:00:00-05:00,25.42,3.22,2022-07-05
3,2022-07-05 09:00:00+00:00,2022-07-05 04:00:00-05:00,24.44,0.03,2022-07-05
4,2022-07-05 12:00:00+00:00,2022-07-05 07:00:00-05:00,24.84,0.0,2022-07-05
...,...,...,...,...,...
60,2022-07-14 00:00:00+00:00,2022-07-13 19:00:00-05:00,26.67,0.21,2022-07-13
61,2022-07-14 06:00:00+00:00,2022-07-14 01:00:00-05:00,18.85,0.0,2022-07-14
62,2022-07-14 12:00:00+00:00,2022-07-14 07:00:00-05:00,18.18,0.0,2022-07-14
63,2022-07-14 18:00:00+00:00,2022-07-14 13:00:00-05:00,27.06,0.07,2022-07-14
64,2022-07-15 00:00:00+00:00,2022-07-14 19:00:00-05:00,27.74,0.11,2022-07-14

In [ ]:
prec_df = df_GFS.groupby('date')[['Precipitation (mm)']].sum()
type(prec_df)

In [ ]:
corn_states=['IA','IL']
run=dt(2022,7,4,12,0,0)
wu.udpate_USA_Bloomberg(run, corn_states, forecast='GFS')