In [1]:
%load_ext autoreload
%autoreload 2

In [13]:
import sys;
sys.path.append(r'C:\Monitor\\')
sys.path.append(r'\\ac-geneva-24\E\grains trading\Streamlit\Monitor\\')

from datetime import datetime as dt

import numpy as np
import pandas as pd; pd.options.mode.chained_assignment = None

import APIs.Bloomberg as ba
import Weather.W_USA as wu

import Utilities.Weather as uw
import Utilities.GLOBAL as GV
import plotly.express as px

In [3]:
blp = ba.BLPInterface('//blp/exrsvc')

In [21]:
run = dt(2022,7,4,12,0,0)
run_str = run.strftime("%Y-%m-%dT%H:%M:%S")

print(run_str)

location = 'US_IA'
forecast = 'GFS'

# overrides = {'location': location, 'fields':'TEMPERATURE|PRECIPITATION', 'model':forecast,'publication_date':'2022-07-04T00:00:00','location_time':True}
overrides = {'location': location, 'fields':'TEMPERATURE|PRECIPITATION', 'model':forecast,'publication_date':run_str,'location_time':True}

df_GFS = blp.bsrch('comdty:weather', overrides)
df_GFS['Location Time'] =  pd.to_datetime(df_GFS['Location Time'])
df_GFS['date']=df_GFS['Location Time'].dt.date
df_GFS['Precipitation (mm)'].iloc[0]=0
df_GFS

2022-07-04T12:00:00

,Reported Time,Location Time,Temperature (°C),Precipitation (mm),date
0,2022-07-04 12:00:00+00:00,2022-07-04 07:00:00-05:00,21.92,0,2022-07-04
1,2022-07-04 15:00:00+00:00,2022-07-04 10:00:00-05:00,25.45,3.12,2022-07-04
2,2022-07-04 18:00:00+00:00,2022-07-04 13:00:00-05:00,29.22,1.25,2022-07-04
3,2022-07-04 21:00:00+00:00,2022-07-04 16:00:00-05:00,32.83,0.37,2022-07-04
4,2022-07-05 00:00:00+00:00,2022-07-04 19:00:00-05:00,32.45,1.14,2022-07-04
...,...,...,...,...,...
124,2022-07-20 00:00:00+00:00,2022-07-19 19:00:00-05:00,29.48,0.06,2022-07-19
125,2022-07-20 03:00:00+00:00,2022-07-19 22:00:00-05:00,23.67,0.02,2022-07-19
126,2022-07-20 06:00:00+00:00,2022-07-20 01:00:00-05:00,20.83,0.02,2022-07-20
127,2022-07-20 09:00:00+00:00,2022-07-20 04:00:00-05:00,19.22,0.0,2022-07-20
128,2022-07-20 12:00:00+00:00,2022-07-20 07:00:00-05:00,19.80,0.0,2022-07-20

In [10]:
prec_df = df_GFS.groupby('date')[['Precipitation (mm)']].sum()
type(prec_df)

pandas.core.frame.DataFrame

In [19]:
corn_states=['IA','IL']
run=dt(2022,7,4,12,0,0)
wu.udpate_USA_Bloomberg(run, corn_states, forecast='GFS')

2022-07-04T00:00:00
Saved Data/Weather/IA_Prec_gfs.csv
Saved Data/Weather/IL_Prec_gfs.csv

In [16]:
dt.now()

datetime.datetime(2022, 7, 4, 19, 32, 18, 674376)