In [1]:
import pandas as pd

In [6]:
id='1KVr_jRXVHVjwgiOYKHF7JoL73l3vusTj'
id='1-9gxgzoHZZolJ1jCRUBCesdw-Io7iTe3'

path = 'https://drive.google.com/uc?export=download&id='+id
df = pd.read_csv(path)
df

   Unnamed: 0   a   b   c
0           0  17  24  30
1           1   2   4   9
2           2  81  83  16

In [4]:
new_df=pd.DataFrame({'a':[17,2,81],'b':[24,4,83],'c':[30,9,16]})
new_df

    a   b   c
0  17  24  30
1   2   4   9
2  81  83  16

In [7]:
FileName='C:\DriveG\data1.csv'

new_df.to_csv(FileName,index=False)